{% extends 'base.html.twig' %}

{% block body %}
    <div class="topbar">
        <div class="topbar-left">
            <div class="text-center">
                <strong>Welcome, <br /></strong>
                {{ app.user.login }}
            </div>
        </div>
        <div class="navbar navbar-default">
        </div>
    </div>
    <div class="left side-menu">
        <div class="sidebar-inner">
            <div id="sidebar-menu">
                <ul>
                    <li>
                        <a href="{{path('dashboard')  }}" class="waves-effect"><i class="mdi mdi-home"></i><span>Dashboard</span></a>
                    </li>
                    <li>
                        <a href="{{ path('cinema-halls')  }}" class="waves-effect"><i class="mdi mdi-home"></i><span>Cinema halls</span></a>
                    </li>
                    <li>
                        <a href="{{ path('movie-data')  }}" class="waves-effect"><i class="mdi mdi-home"></i><span>Movie Data</span></a>
                    </li>
                    <li>
                        <a href="{{ path('logout') }}" class="waves-effect"><i class="mdi mdi-home"></i><span> Logout </span></a>
                    </li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="content-page">
        <div class="content">
            <div class="page-header-title">
                <h4 class="page-title">
                    {% block title %}
                        Dashboard
                    {% endblock %}
                </h4>
            </div>
            <div class="page-content-wrapper ">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="panel panel-primary">
                                <div class="panel-body">
                                    {% block panel %}
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper justo at risus. Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id orci. Nam congue, pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est. Etiam sit amet lectus quis est congue mollis. Phasellus congue lacus eget neque. Phasellus ornare, ante vitae consectetuer consequat, purus sapien ultricies dolor, et mollis pede metus eget nisi. Praesent sodales velit quis augue. Cras suscipit, urna at aliquam rhoncus, urna quam viverra nisi, in interdum massa nibh nec erat.
                                    {% endblock %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

